{
  "extends": ["standard", "standard-react"],
  "rules": {
      "indent": ["error", 2, { "MemberExpression": 0, "SwitchCase": 1, "flatTernaryExpressions": true }],
      "import/first": 0,
      "max-len": [2, 80, 4, {"ignoreComments": true, "ignoreUrls": true}],
      "padded-blocks": 0,
      "no-mixed-operators": 0,
      "no-return-assign": 0,
      "no-unused-expressions": 0,
      "react/jsx-no-bind": 0,
      "react/prop-types": 0,
      "standard/no-callback-literal": 0
  },
  "globals": {
      "window": true,
      "jest": true,
      "describe": true,
      "it": true,
      "before": true,
      "beforeAll": true,
      "beforeEach": true,
      "after": true,
      "afterAll": true,
      "afterEach": true,
      "expect": true,
      "jasmine": true
  }
}
