.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  font-size: 0.875rem;
}
.sidebar-sticky {
  position: sticky;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar .nav-link {
  color: #f8f9fa;
  font-weight: 500;
}
.bg-dark-blue {
  background-color: #32455E;
  border-color: #32455E;
}
.nav-tabs {
  border-bottom: 1px solid #32455E;
}
.nav-tabs .nav-link {
  color: #f8f9fa;
  border-color: #dee2e6;
  border-bottom: 0;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs.nav-link:not(.active):hover {
  border-color: transparent;
  background-color: #fff;
  color: #495057;
  cursor: pointer;
}
.border-bottom-dark {
  border-bottom: 2px solid #32455E;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.border-top-dark {
  border-color: #dee2e6;
  border-top: 2px solid #32455E;
}
